 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>First Place in digital TransFormation App Feb,2020</h2>
      <img src="{{ "/assets/img/firstplace.jpg" | prepend: site.baseurl }}" height="250" width="250">
      <p>me and my team won the First Place in digital TransFormation App in Egypt in Feb,2020 (Medical record management system using Blockchain you can know more from <a href="https://www.youm7.com/story/2020/2/20/%D8%AD%D8%A7%D8%B3%D8%A8%D8%A7%D8%AA-%D8%A7%D9%84%D9%85%D9%86%D8%B5%D9%88%D8%B1%D8%A9-%D8%AA%D8%AD%D8%B5%D8%AF-%D8%A3%D9%88%D9%84-%D9%85%D8%B1%D9%83%D8%B2-%D8%A8%D8%A7%D9%84%D8%AC%D9%85%D9%87%D9%88%D8%B1%D9%8A%D8%A9-%D8%B9%D9%86-%D8%AA%D9%82%D9%86%D9%8A%D8%A9-%D8%B3%D8%AC%D9%84%D8%A7%D8%AA-%D8%A7%D9%84%D9%85%D8%B1%D8%B6%D9%89/4639790">here</a> and see video descrip our project from <a href="https://youtu.be/1c3yqArmKNA">here</a> </p>
    </div>
    <div class="tech">
      <h2>CTF 1st Place 2019&2020</h2>
      <img src="{{ "/assets/img/CTF.png" | prepend: site.baseurl }}" height="250" width="250">
      <p>we won first Place in the CTF Competition in Mansoura university 2019 and 2020 (Organized by CyberTalents).</p>
    </div>
    <div class="tech">
      <h2>Bug Bonty HOF</h2>
      <img src="{{ "/assets/img/BugBountyHunter.png" | prepend: site.baseurl }}" height="250" width="250">
      <p>BugBounty Hunter Hall Of Fame: western Union, Pinterest, ford Motor company, Indeed, jet.com, DigitalOcean and more private programs take a look at <a href="https://bugcrowd.com/Jahin0X01">my bugcrowd account</a>.</p>
    </div>
</div>
