<div class="user-details">
  <h1> Last Writeups </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Injector.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 style="margin:0; padding:0"> Injector @cyberdefenders walkthrough </h3>
    <ul>
      <li> Volatility</li>
      <li>  Windows Forensics</li>
      <li>  Web Server</li>
      <li>  DFIR</li>
      <li>  Memory analysis</li>
      <li>  FTK Imager</li>
    </ul>
    <p>Injector is a Windows & Memory Forensics that you can find it in cyberdefenders.org , this is a walkthrough and how to answer it's questions.</p>
    <a class="project-link" href="https://jahin0x01.github.io/ctf%20writeups/Injector/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/HireME.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 style="margin:0; padding:0"> HireME @cyberdefenders walkthrough</h3>
    <ul>
      <li>  AccessData </li>
      <li>  Windows Forensics</li>
      <li>  Registry</li>
      <li>  Timeline Analysis</li>
      <li> Skype and Mail analysis</li>
    </ul>
    <p>HireMe is a Degital Forensics you can find it in cyberdefenders.org , this is a walkthrough and how to answer it's questions.</p>
    <a class="project-link" href="https://jahin0x01.github.io/ctf%20writeups/HireME/">Check it out</a>
  </div>
</div>
